html{
	background-color : gainsboro;
}

h1{
text-align : center;
border : 3px solid black;
padding : 3px;
background-image: url(./images/dancingbidoof.gif);
/*background-size: 100% 100%;*/
}

p1{
color : red;
}

#2_001{color:red;}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111111;
  }

.DnDDropDownContent{
display: none;
position: absolute;
z-index: 1;
}

.DnDPageLiButton:hover .DnDDropDownContent{
display:block;
background-color:dimgray;
}

section{
color:red;
}